<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsy.sicore_v1.menu.mapper.MenuMapper">

    <!-- 메뉴 목록 조회 -->
    <select id="selectMenuList" resultType="menuVo">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.selectMenuList [메뉴 목록 조회] */
        SELECT
              MENU_ID
            , MENU_NAME
            , PARENT_MENU_ID
            , MENU_LEVEL
            , SORT_ORDER
            , MENU_URL
            , CREATED_AT
            , UPDATED_AT
            FROM TB_MENU
    </select>

    <!-- 메뉴 트리 조회 -->
    <select id="selectMenuTree" resultType="MenuVo">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.selectMenuTree [메뉴 트리 조회] */
        SELECT
              LEVEL AS "depth"
            , MENU_ID
            , MENU_NAME
            , PARENT_MENU_ID
            , MENU_LEVEL
            , SORT_ORDER
            , USE_YN
            , LPAD(' ', 2 * (LEVEL - 1)) || MENU_NAME AS "treeView"
            , CREATED_AT
            , UPDATED_AT
            FROM TB_MENU
           WHERE USE_YN = 'Y'
           START WITH PARENT_MENU_ID IS NULL
           CONNECT BY PRIOR MENU_ID = PARENT_MENU_ID
           ORDER SIBLINGS BY SORT_ORDER
    </select>

    <!-- 상세 조회 -->
    <select id="selectMenu" resultType="MenuVo">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.selectMenu [메뉴 상세 조회] */
        SELECT
              MENU_ID
            , MENU_NAME
            , PARENT_MENU_ID
            , MENU_LEVEL
            , SORT_ORDER
            , MENU_URL
            , CREATED_AT
            , UPDATED_AT
            FROM TB_MENU
            WHERE MENU_ID = #{menuId}
    </select>

    <!-- 등록 -->
    <insert id="insertMenu" parameterType="CodeVo">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.insertMenu [메뉴 등록] */
        INSERT INTO TB_MENU
        (
              MENU_ID
            , MENU_NAME
            , PARENT_MENU_ID
            , MENU_LEVEL
            , SORT_ORDER
            , MENU_URL
            , CREATED_AT
            , UPDATED_AT
        )
        VALUES
        (
              #{menuId}
            , #{menuName}
            , #{parentMenuId}
            , #{menuLevel}
            , #{sortOrder}
            , #{menuUrl}
            , SYSDATE
            , SYSDATE
        )
    </insert>

    <!-- 수정 -->
    <update id="updateMenu">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.updateMenu [메뉴 수정] */
        UPDATE TB_MENU
          <set>
                <if test="menuVo.menuName != null and menuVo.menuName != ''">
                    MENU_NAME = #{menuVo.menuName},
                </if>
                <if test="menuVo.parentMenuId != null and menuVo.parentMenuId != ''">
                    PARENT_MENU_ID = #{menuVo.parentMenuId},
                </if>
                <if test="menuVo.menuLevel != null and menuVo.menuLevel != ''">
                    MENU_LEVEL = #{menuVo.menuLevel},
                </if>
                <if test="menuVo.sortOrder != null and menuVo.sortOrder != ''">
                    SORT_ORDER = #{menuVo.sortOrder},
                </if>
                <if test="menuVo.menuUrl != null and menuVo.menuUrl != ''">
                    MENU_URL = #{menuVo.menuUrl},
                </if>
          </set>
          <where>
            MENU_ID = #{menuId}
          </where>
    </update>

    <!-- 삭제 -->
    <update id="deleteMenu">
        /* com.lsy.sicore_v1.menu.mapper.MenuMapper.deleteMenu [메뉴 사용 중지] */
        UPDATE TB_MENU
           SET USE_YN = 'N'
           WHERE MENU_ID = #{menuId}
    </update>

</mapper>